/* 1. CONFIGURACIÓN DE VARIABLES Y COLORES DEL LOGO */
:root {
    --red: #f73b3b;
    --red-background: #cb0043;
    --dark-blue: #031b70;
    --light-blue: #42cbde;
    --background-color: #3F1A1A; 
    --main_layout_color: #75B6AB;
    --gray-shadow: #272727;
    --text-main-color: white;
    --text-main-contrast: ;
    --text-second-color: white;
}

@font-face {
  font-family: "sub_title";
  src: url("fonts/Montserrat-VariableFont_wght.ttf") format('woff2');
  font-weight: 1000;
  font-style: normal;
}

@font-face {
  font-family: "text";
  src: url("fonts/IosevkaCharonMono-Regular.ttf") format('woff2');
  font-weight: normal;
  font-style: normal;
}


body{
    background-color: var(--background-color);
    font-family: "text";
    justify-content: center;
    margin: 0;
}

div.main_layout{
    background-color: var(--red-background);
    
    /*background-image: url("images/background\ v2.png");/*linear-gradient(rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.705)), url("images/background\ v2.png");*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.733);
    position: relative;
    margin: 0;
    z-index: 0;
    max-width: 1920px;
}

div.runner{
    position: absolute;
    right: 0;
    top: 0;
    height: 950px;
    z-index: -1;
}

div.runner img{
    height: 100%;
}

div.old_man{
    position: absolute;
    left: 0;
    top: 950px;
    height: 500px;
    z-index: -1;
}
div.old_man{
    height: 100%;
}


header{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    max-height: 100px;
    
    position: sticky;
    top: 0;
    transition: background-color 0.3s;
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
    z-index: 1;
}

header.scrolled {
    background-color: var(--dark-blue);
}

header.scrolled nav a{
    color: var(--red-background);
}
header.scrolled nav a:hover{
    color: white;
}


.logo{
    opacity: 0;
    height: 200px;
    position: absolute;
    top:-5vh;
    right: 0vh;
    
    
}

nav{

    display: flex;
    gap: 2rem;
    justify-self: center;
    padding: 1.8% 3%;
    justify-self: center;
    /*background: linear-gradient(rgba(255, 255, 255, 0.055), rgba(255, 255, 255, 0.082));
    border-radius: 1000px;*/
    
}

nav a{
    font-family: "sub_title";
    color: var(--dark-blue);
    text-decoration: none;
    text-align: center;
    padding: 0px 4px 5px 10px;
    
    border-bottom: 2px solid white;
    border-left: 10px solid white;
    transition: 0.5s ease;
    display: flex;
    flex-direction:row;
}

nav a:hover{
    color: white;
    border-bottom: 2px solid var(--text-main-color);
    border-left: 0px solid white;
    padding: 0px;
}


.content{
    display: flex;
    flex-direction: column;
    color: var(--text-second-color);
    justify-content: center;
    gap: 10rem;
    padding-top: 5rem;
}

.intro{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-self: left;
    max-width: 1200px;
    
    padding: 0 2%;
    margin-top: 2rem;
    margin-bottom: 0;
    /*background: linear-gradient(rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.012));
    */
    transition: 0.5s ease ;
}


.intro p{
    font-family: "text";
    font-size: 1.6rem;
    margin-bottom: 0px;
}

.intro h1,h2{
    font-family: "sub_title";
    margin-top: 0px;
    margin-bottom: 0px;
}

.intro h1{
    font-size: 6rem;
    color: var(--text-main-color);
}

@keyframes blink-color{
    25%{
        opacity: 75%;
    }
    50%{
        opacity: 50%;
    }
    75%{
        opacity: 25%;
    }
    100%{
        opacity: 0%;
    }
}

.intro span.capital_letter{
    color: var(--dark-blue);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
    /*animation: blink-color 1s alternate infinite ;*/

}



.intro span.capital_letter:hover{
    color: var(--text-main-color);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
}

.intro h2{

    font-size: 4rem;
}

.intro h2 span{
    border-bottom: 4px solid var(--dark-blue);
}

.intro p span{
    border-bottom: 4px solid var(--dark-blue);
}

section.CTA{
    display: flex;
    flex-direction: row;
    
    padding: 0 2%;
    
}

section.CTA a{
    text-decoration: none;
    font-family: "text";
    font-size: 1.5rem;
    color: white;
    border: 2px solid var(--dark-blue);
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

section.CTA a.terminal-command:hover{
    color: rgba(255, 255, 255, 0.466);
}

section.CTA a.pwned-machines{
    
    padding-right: 150px;
    padding-left: 25px;
}

section.CTA a.projects{
    padding-right: 250px;
    padding-left: 25px;
    
}

@keyframes blink{
    50%{
        opacity: 0;
    }
}

section.CTA a span.cursor{
    width: 10px;
    animation: blink 1s step-end infinite;
}


.section .title{
    font-family: "sub_title";
    color: var(--dark-blue);
    align-items: center;
    text-align: center;
    transition: 0.5s ease;
}

.section .title:hover{
    color: white;
    
}

.section{
    display: flex;
    flex-direction: column;
}



.section .wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-self: center;
    justify-content: center;
    max-width: 1000px;
    border: 2px rgba(252, 255, 215, 0.836);
}

section.section.stats,
section.section.skills {
    align-self: flex-end;
    margin-right: 2%;
    width: 1000px;
}

section.section div.wrap div.card{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 250px;
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.247);/*linear-gradient(180deg, rgba(3, 27, 112, 0.671), rgba(66, 204, 222, 0.5));
    */box-shadow: 0 5px 5px #272727;
    transition: 0.5s ease;
    border: 1px solid white;
    
}


.card:hover{
    transform: translateY(-10px);
    border-radius: 2rem;
}

.card h2{
    text-align: center;
    font-size: 1.5rem;
    padding: 0 1rem;
}

.card h3{
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

.card span{
    margin-top: 1rem;
    font-family: "sub_title";
    font-size: 4rem;
    color: white;
    /*-webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;*/
    transition: 0.5s ease;
}

.card span:hover{
    color: var(--text-main-color);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
}




.card img.symbol{
    
    max-height: 100px;
}


.section h1.more_to_come{
    color: var(--dark-blue);
}


@media screen and (max-width: 700px){
    .stats .wrap{
        display: flex;
        flex-direction: column;
        align-self: center;
    }

}

.todo {
    opacity: 0;
    transition: opacity 1.5s , color 0.2s ;
}

.todo.show{
    opacity: 1;
}